body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
}



header{
    background-color: #F29E38;
    margin: 0 auto;
    height: 15%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

h1, h2, h3, p{
    margin: 10px;
}

#logoPrincipal{
    margin: 25px 20px;
}

nav{
    background-color: #3A758C;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-opcion{
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

.nav-opcion:hover{
    background-color: rgb(42, 85, 102);
}

#contenido header{
    display: flex;
    background-color: #F2D022;
    flex-direction: column;
    margin: 25px auto;
    color: black;
}

#contenido{
    display: flex;
    background-color: #F2D022; 
    flex-direction: column;
    height: 100%;
    width: 75%;
}

#seccion-articulos{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 65%;
}

article{
    margin: 15px;
    border: 2px solid  rgb(42, 85, 102);
    width: 30%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenido-general{
    display: flex;
    flex-direction: row;
    height: 500px;
}

aside{
    display: flex;
    background-color: #F22233;
    flex-direction: column;
    margin: auto;
    width: 25%;
    color: white;
    height: 100%;
}

.image-articulo{
    width: 120px;
    height: 120px;
    margin: 10px;
}

#busqueda{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

aside form{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px;
    align-items: right;
}

label{
    margin: 5px;
    font-size: 14px;
}

input{
    border-radius: 5px;
    background-color: rgb(143, 22, 32);
    border: 0px;
    width: 110px;
    height: 25px;
    font-size: 12px;
    color: white;
}

textarea{
    border-radius: 5px;
    background-color: rgb(143, 22, 32);
    border: 0px;
    width: 100%;
    height: 100px;
    font-size: 12px;
    color: white;
}

#email, #password{
    width: 62%;
}

button{
    border: 0px;
    border-radius: 5px;
    height: 20px;
    width: 80px;
    margin: 10px;
    background-color: rgb(65, 12, 16);
    color: white;
}

footer{
    background-color: rgb(43, 42, 41);
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 15px;
    color: white;
    display: flex;
    
}