*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background: #FFF;
    height: 100px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.text-logo{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.navigation{
    display: flex;
    grid-column: 6/13;
    justify-content: space-evenly;
    overflow: hidden;
}

.nav-opcion{
    padding: 15px;
    font-size: 15px;
}

.nav-opcion:hover{
    background: #F2F2F2;
}


.slide-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
    height: 500px;
    grid-column: 1/-1;
}

slider{
    display: block;
    background-color: #344859;
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: absolute;
}

slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #344859;
    animation: animate 12s infinite;
    overflow: hidden;   
}

slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(slide1.jpg);
    background-size: cover;
    background-position: center;
    
}

slide:nth-child(2){
    animation-delay: 5s;
    background-image: url(slide2.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3){
    left: 0%;
    animation-delay: 9s;
    background-image: url(slide3.jpg);
    background-size: cover;
    background-position: center;
}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#FFF;
}

@keyframes animate {
    0%{left: 0%;}
    30%{left: 0%;}
    33%{left: -100%;}
    63%{left: -100%;}
    66%{left: -200%;}
    96%{left: -200%;}
    100%{left: -300%;}
}

